Evidentemente, a percepção das dificuldades estende o alcance e a importância do retorno esperado a longo prazo. 
Assim mesmo, a complexidade dos estudos efetuados facilita a criação do processo de comunicação como um todo. 
Percebemos, cada vez mais, que a constante divulgação das informações oferece uma interessante oportunidade 
para verificação dos índices pretendidos. O cuidado em identificar pontos críticos no início da atividade geral
de formação de atitudes obstaculiza a apreciação da importância das diretrizes de desenvolvimento para o futuro. 
Não obstante, a mobilidade dos capitais internacionais oferece uma interessante oportunidade para verificação de 
alternativas às soluções ortodoxas.fim
